

<div class="container">
    <div class="carousel p-mx" data-section-type="slideshow">
        <div id="controls-slider-{{section.id}}" class="arrows">
            <button class="prev">
                <svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.85 10.373L11 17.999L7.638 20.418L0.257999 10.209L7.638 0L11 2.419L4.85 10.373Z" fill="white"></path> 
                </svg>
            </button>
            <button class="next">
                <svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.15 10.373L0 17.999L3.362 20.418L10.742 10.209L3.362 0L0 2.419L6.15 10.373Z" fill="white"></path> 
                </svg>
            </button>
        </div>
        <div style="position: relative;">
            <div class="nav-slider {% if section.settings.show-dots == false -%} d-none {%- else -%} d-block {%- endif -%}">
                <ul class="dots" id="nav-{{ section.id }}">
                    {%- for block in section.blocks -%}
                        <li><a href="javascript:void(0)"></a></li>
                    {%- endfor -%}
                </ul>
            </div>
            <div id="slider-{{ section.id }}">
                {%- for block in section.blocks -%}
                    {%- assign _block = block.settings -%}
                    {%- case block.type -%}
                        {%- when 'carousel' -%}
                            <div>
                                <div class="carousel__img">
                                    <div class="content" id="content-{{ block.id }}">
                                        <div class="sub-title-1">{{_block.sub_title}}</div>
                                        <div class="title-1">{{_block.title}}</div>
                                        <a class="button-1" href="{{_block.url}}">{{_block.text_button}}</a>
                                    </div>
                                    <div class="image-slider">
                                        {%- if _block.image != blank -%}
                                            {%- assign img_url = _block.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                            <img id="{{ _block.image.id }}"
                                                class="lazyload"
                                                data-src="{{ img_url }}"
                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                data-aspectratio="{{ _block.image.aspect_ratio }}"
                                                data-sizes="auto"
                                                alt="{{ _block.image.alt }}">
                                        {%- else -%}
                                            {{ 'image' | placeholder_svg_tag }}                  
                                        {%- endif -%}
                                        
                                    </div>
                                </div>
                            <style>
                                .carousel #content-{{ block.id }}{
                                    top: {{ _block.top }}%;
                                    left: {{ _block.left }}%;
                                    transform: translateY(-50%);
                                    text-align: {{ _block.text-align }};
                                }

                                {% comment %} #section-{{section.id}} .block-{{block.id}} .btn-style{
                                    background-color: {{ _block.color_button }};
                                    border-radius: 2px;
                                } {% endcomment %}

                                {% comment %} #section-{{section.id}} .block-{{block.id}} .btn-style:hover{
                                    background-color: #FFFFFF;
                                    color: {{ _block.color_button }};
                                } {% endcomment %}
                            </style>
                            </div>
                    {%- endcase -%}
                {%- endfor -%}
            </div>
        </div>
        <script type="application/json" data-tns-config>
        {
            "container": "#slider-{{ section.id }}",
            "loop" : false,
            "items" : 1,
            "slideBy": "page",
            "nav": {{ section.settings.show-dots }},
            "navContainer": "#nav-{{ section.id }}",
            "navAsThumbnails": true,
            "autoplay": false,
            "autoplayButtonOutput": false,
            "mouseDrag": true,
            "lazyload": false,
            "speed": 400,
            "preventScrollOnTouch": "auto",
            "controlsContainer": "#controls-slider-{{section.id}}",
            "mode": "{{ section.settings.mode-slider }}",
            "responsive": {
                "0": {
                    "items": 1
                }
            }
        }
    </script>
    </div>
</div>

{%- schema -%}
{
    "name" : {
        "en": "Carousel"
    },
    "settings" : [
        {
            "type": "select",
            "id": "mode-slider",
            "label" : {
                "en" : "Mode slider"
            },
            "options": [
            {
                "value": "carousel",
                "label": {
                    "en": "Carousel"
                }
            },
                        {
                "value": "gallery",
                "label": {
                    "en": "Gallery"
                }
            }
            ],
            "default" : "gallery"
        },
        {
            "type" : "checkbox",
            "id" : "show-dots",
            "label" : {
                "en": "Show dots"  
            },
            "default": true
        }
    ],
    "blocks": [
        {
            "type" : "carousel",
            "name": {
                "en": "Carousel"
            },
            "settings" : [
                {
                    "type" : "range",
                    "id": "top",
                    "label": {
                        "en" : "Top content" 
                    },
                    "step": 1,
                    "min" : 25,
                    "max" : 75,
                    "unit" : "%",
                    "default" : 70
                },
                {
                    "type" : "range",
                    "id": "left",
                    "label": {
                        "en" : "Left content" 
                    },
                    "step": 1,
                    "min" : 0,
                    "max" : 50,
                    "unit" : "%",
                    "default" : 0
                },
                {
                    "type": "select",
                    "id": "text-align",
                    "label" : {
                        "en" : "Text align"
                    },
                    "options": [
                        {
                            "value": "left",
                            "label": {
                                "en": "Left"
                            }
                        },
                        {
                            "value": "center",
                            "label": {
                                "en": "Center"
                            }
                        },
                        {
                            "value": "right",
                            "label": {
                                "en": "Right"
                            }
                        }
                    ],
                    "default" : "left"
                },
                {
                    "type": "text",
                    "id": "sub_title",
                    "label": {
                        "en": "Subtitle"
                    },
                    "default" : "Subtitle"
                },
                {
                    "type": "richtext",
                    "id": "title",
                    "label": {
                        "en": "Title"
                    },
                    "default" : "<p>Title</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": {
                        "en": "Image"
                    }
                },
                {
                    "type": "text",
                    "id": "text_button",
                    "label": {
                        "en": "Text button"
                    },
                    "default" : "Shop this look"
                },
                {
                    "type" : "url",
                    "id" : "url_button",
                    "label" : {
                        "en": "URL Button"
                    }
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel",
            "category": "Advanced layout"
        }
    ]
}
{%- endschema -%}