{%- liquid 
    assign sizeBlocks = section.blocks | size
    assign firstBlock = section.blocks | first
-%}

{%- case section.settings.footer-style -%}
    {%- when 'style-1' -%}
        {%- assign footerStyle = 'footer-style-1' -%}
    {%- when 'style-2' -%}
        {%- assign footerStyle = 'footer-style-2' -%}
{%- endcase -%}

{%- case section.settings.align-icons -%}
    {%- when 'left' -%}
        {%- assign alignIcons = 'flex-start' -%}
    {%- when 'center' -%}
        {%- assign alignIcons = 'center' -%}
    {%- else -%}
        {%- assign alignIcons = 'flex-end' -%}
{%- endcase -%}

<div class="bg-footer">
    <div class="container">
        <div class="footer p-mx">
            <div class="{{ footerStyle }}">
                <div>
                    <div class="footer__logo">
                        {% if section.settings.logo %}
                            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <a href="{{ routes.root_url }}" style="max-width: {{ section.settings.logo_max_width }}px">
                                {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                                <img class="lazyload js"
                                    src="{{ section.settings.logo | img_url: '300x300' }}"
                                    data-src="{{ img_url }}"
                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                                    data-sizes="auto"
                                    alt="{{ logo_alt | escape }}">
                                <noscript>
                                    {% capture image_size %}{{ section.settings.logo_max_width | escape }}px{% endcapture %}
                                    <img src="{{ section.settings.logo | img_url: image_size }}"
                                            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                            alt="{{ section.settings.logo.alt | default: shop.name }}"
                                            style="max-width: {{ section.settings.logo_max_width }}px;">
                                </noscript>
                            </a>
                        {% else %}
                            <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
                        {% endif %}
                    </div>
                    {%- unless section.settings.footer-style != 'style-2' -%}
                        <div class="footer__description">{{ section.settings.footer-text}}</div>
                    {%- endunless -%}
                    <div class="footer__social">
                        <ul class="widget-social-icons">
                            {%- if settings.social_facebook_link != blank -%}
                                <li><a href="{{ settings.social_facebook_link }}" target="_blank" rel="noopener" title="Facebook">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3337 5.91659H8.83366V4.24992C8.83366 4.0289 8.92146 3.81694 9.07774 3.66066C9.23402 3.50438 9.44598 3.41659 9.66699 3.41659H10.5003V1.33325H8.83366C8.17062 1.33325 7.53473 1.59664 7.06589 2.06549C6.59705 2.53433 6.33366 3.17021 6.33366 3.83325V5.91659H4.66699V7.99992H6.33366V14.6666H8.83366V7.99992H10.5003L11.3337 5.91659Z" fill="#252A2F"/>
                                    </svg>
                                </a></li>
                            {%- endif -%}

                            {%- if settings.social_twitter_link != blank -%}
                                <li><a href="{{ settings.social_twitter_link }}" target="_blank" rel="noopener" title="Twitter">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.6663 3.92942C14.1648 4.1448 13.6343 4.28795 13.0913 4.35444C13.6636 4.02019 14.0914 3.4909 14.2938 2.86685C13.758 3.17974 13.1718 3.40008 12.5605 3.51834C12.1857 3.12431 11.6992 2.85037 11.1643 2.73211C10.6293 2.61386 10.0705 2.65675 9.56065 2.85521C9.05076 3.05368 8.61327 3.39855 8.30503 3.84501C7.99678 4.29148 7.83203 4.8189 7.83217 5.35876C7.83217 5.57209 7.85051 5.77722 7.89551 5.97251C6.80808 5.92001 5.74414 5.64212 4.77326 5.15701C3.80238 4.67189 2.94642 3.99048 2.26134 3.15731C1.91036 3.74961 1.80185 4.45136 1.95791 5.11966C2.11397 5.78797 2.52287 6.37258 3.10134 6.75446C2.66864 6.74303 2.24507 6.62934 1.86634 6.42297V6.45251C1.86707 7.074 2.08523 7.67626 2.48411 8.15792C2.88298 8.63959 3.43822 8.97123 4.05634 9.09704C3.8225 9.15772 3.5815 9.18752 3.33967 9.18566C3.166 9.1887 2.9925 9.17329 2.82217 9.13971C2.99879 9.67388 3.33925 10.141 3.79667 10.4768C4.25409 10.8126 4.80598 11.0004 5.37634 11.0146C4.40879 11.7597 3.21549 12.1638 1.98717 12.1625C1.76301 12.1625 1.54801 12.1526 1.33301 12.1256C2.58291 12.9186 4.0394 13.3381 5.52634 13.3334C10.5563 13.3334 13.3063 9.23078 13.3063 5.67466C13.3063 5.55568 13.3022 5.44081 13.2963 5.32676C13.8355 4.94685 14.2997 4.47332 14.6663 3.92942Z" fill="#252A2F"/>
                                    </svg>
                                </a></li>
                            {%- endif -%}

                            {%- if settings.social_google_link != blank -%}
                                <li><a href="{{ settings.social_google_link }}" target="_blank" rel="noopener" title="Google">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.86694 1.33325H9.81056C9.83896 1.33325 9.86394 1.35338 9.87176 1.38286C9.87963 1.41236 9.8684 1.44404 9.84446 1.46038L9.0031 2.03185C8.99304 2.03882 8.9812 2.04241 8.96921 2.04241H7.9924L7.99252 2.04252C8.36237 2.37293 9.13162 3.06016 9.13162 4.39007C9.13162 5.71273 8.41305 6.32426 7.77913 6.86365L7.75833 6.88636C7.55898 7.10057 7.33311 7.34366 7.33311 7.71149C7.33311 8.08574 7.5588 8.28777 7.74016 8.45013L7.74039 8.45034L8.32742 8.94369C9.02325 9.57655 9.67886 10.1729 9.67847 11.3806C9.67847 13.0135 8.22708 14.6666 5.45325 14.6666C3.06766 14.6666 2 13.4176 2 12.1797C2 11.8686 2.08921 10.796 3.23734 10.0585C4.20913 9.41318 5.53939 9.31458 6.25457 9.26157L6.25532 9.26152L6.30513 9.25792L6.27711 9.21887L6.2771 9.21886C6.05415 8.91102 5.82355 8.5926 5.82355 8.07613C5.82355 7.81139 5.8892 7.64154 5.95868 7.46177L5.95905 7.46083L5.98304 7.39786C5.82035 7.4144 5.63604 7.43273 5.46955 7.43273C3.73807 7.43273 2.8037 6.02597 2.8037 4.7019C2.8037 3.8427 3.18726 2.97235 3.82998 2.37317C4.64723 1.64389 5.55524 1.33325 6.86694 1.33325ZM3.41401 11.815C3.41401 13.0847 4.55009 13.9379 6.24089 13.9379C7.69757 13.9379 8.60259 13.2184 8.60271 12.0597C8.60271 11.1501 8.03396 10.6725 6.85087 9.76305C6.72286 9.74551 6.64234 9.74551 6.48207 9.74551C6.47265 9.74551 5.52667 9.75886 4.79379 10.0253C3.8787 10.3835 3.41401 10.9859 3.41401 11.815ZM4.217 3.85167C4.217 4.93045 4.8059 6.94534 6.22499 6.94534C6.60838 6.94534 7.0473 6.75008 7.31714 6.45916C7.71843 6.02338 7.71843 5.39571 7.71843 5.18949C7.71843 3.88196 6.99799 1.9902 5.69503 1.9902C5.26954 1.9902 4.82798 2.21536 4.57007 2.56387C4.33247 2.88188 4.217 3.3029 4.217 3.85167ZM12.3852 7.56046H13.9363C13.9716 7.56046 14 7.59135 14 7.62959V8.35968C14 8.39774 13.9715 8.42842 13.9363 8.42842H12.3852V10.1092C12.3852 10.147 12.3566 10.1779 12.3214 10.1779H11.6541C11.6189 10.1779 11.5904 10.147 11.5904 10.1092V8.42862H10.0472C10.012 8.42862 9.98345 8.39794 9.98345 8.35988V7.62959C9.98345 7.59135 10.012 7.56046 10.0472 7.56046H11.5904V5.89087C11.5904 5.85281 11.6189 5.82213 11.6541 5.82213H12.3214C12.3566 5.82213 12.3852 5.85281 12.3852 5.89087V7.56046Z" fill="#252A2F"/>
                                    </svg>
                                </a></li>
                            {%- endif -%}

                            {%- if settings.social_instagram_link != blank -%}
                                <li><a href="{{ settings.social_instagram_link }}" target="_blank" rel="noopener" title="Instagram">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                        <path d="M10.5002 1.33325H5.50016C4.39509 1.33325 3.33529 1.77224 2.55388 2.55364C1.77248 3.33504 1.3335 4.39485 1.3335 5.49992L1.3335 10.4999C1.3335 11.605 1.77248 12.6648 2.55388 13.4462C3.33529 14.2276 4.39509 14.6666 5.50016 14.6666H10.5002C11.6052 14.6666 12.665 14.2276 13.4464 13.4462C14.2278 12.6648 14.6668 11.605 14.6668 10.4999V5.49992C14.6668 4.39485 14.2278 3.33504 13.4464 2.55364C12.665 1.77224 11.6052 1.33325 10.5002 1.33325V1.33325ZM13.4168 10.4999C13.4168 12.1083 12.1085 13.4166 10.5002 13.4166H5.50016C3.89183 13.4166 2.5835 12.1083 2.5835 10.4999V5.49992C2.5835 3.89159 3.89183 2.58325 5.50016 2.58325H10.5002C12.1085 2.58325 13.4168 3.89159 13.4168 5.49992V10.4999Z" fill="#252A2F"/>
                                        <path d="M8.00033 4.6665C7.11627 4.6665 6.26842 5.01769 5.6433 5.64281C5.01818 6.26794 4.66699 7.11578 4.66699 7.99984C4.66699 8.88389 5.01818 9.73174 5.6433 10.3569C6.26842 10.982 7.11627 11.3332 8.00033 11.3332C8.88438 11.3332 9.73223 10.982 10.3573 10.3569C10.9825 9.73174 11.3337 8.88389 11.3337 7.99984C11.3337 7.11578 10.9825 6.26794 10.3573 5.64281C9.73223 5.01769 8.88438 4.6665 8.00033 4.6665ZM8.00033 10.0832C7.44799 10.0825 6.91847 9.8628 6.52792 9.47225C6.13736 9.08169 5.91765 8.55217 5.91699 7.99984C5.91699 6.85067 6.85199 5.9165 8.00033 5.9165C9.14866 5.9165 10.0837 6.85067 10.0837 7.99984C10.0837 9.14817 9.14866 10.0832 8.00033 10.0832Z" fill="#252A2F"/>
                                        <path d="M11.5833 4.86074C11.8286 4.86074 12.0275 4.66189 12.0275 4.41658C12.0275 4.17127 11.8286 3.97241 11.5833 3.97241C11.338 3.97241 11.1392 4.17127 11.1392 4.41658C11.1392 4.66189 11.338 4.86074 11.5833 4.86074Z" fill="#252A2F"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0">
                                        <rect width="16" height="16" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                </a></li>
                            {%- endif -%}
                        </ul>
                    </div>
                </div>
                {%- unless section.settings.footer-style != 'style-2' -%}
                    <div><h1>Newsletter Signup</h1></div>
                    {%- if linklists[firstBlock.settings.menu] != blank -%}
                        <div class="card_footer-item card_item-{{ firstBlock.id }}">
                            <div class="card_footer-body">
                                <ul class="menu_list-wrapper">
                                    {%- for link in linklists[firstBlock.settings.menu].links -%}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                        <style>
                            .card_item-{{ firstBlock.id }}{
                                text-transform: uppercase;
                                text-align: {{ firstBlock.settings.text-align-item }};
                            }
                        </style>
                    {%- endif -%}
                {%- endunless -%}
            </div>
            {%- unless section.settings.footer-style != 'style-1' -%}
                <div class="footer__content-wrapper content-wrapper-1">
                    {%- for block in section.blocks -%}
                        {%- assign _block = block.settings -%}
                        {%- case block.type -%}
                            {%- when 'footer-menu' -%}
                                {%- if linklists[_block.menu] != blank -%}
                                    <div class="card_footer-item card_item-{{ block.id }}">
                                        <div class="card_footer-title">{{linklists[_block.menu].title}}</div>
                                        <div class="card_footer-body">
                                            <ul class="menu_list-wrapper">
                                                {%- for link in linklists[_block.menu].links -%}
                                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                    </div>
                                {%- endif -%}
                        {%- endcase -%}
                        <style>
                            .card_item-{{ block.id }}{
                                text-align: {{ _block.text-align-item }};
                            }
                        </style>
                    {%- endfor -%}
                </div>
            {%- endunless -%}
        </div>
    </div>
</div>

{%- if section.settings.show-license -%}
    <div class="bg-license">
        <div class="container">
            <div class="license p-mx">{{ section.settings.text-license }}</div>
        </div>
    </div>
{%- endif -%}


<style>
    .bg-footer{
        background-color: {{ section.settings.bg-footer }};
    }
    .footer .footer__logo{
        text-align: {{ section.settings.align-logo }};
    }
    .footer .footer__description p{
        color: {{ section.settings.footer-color }};
        text-align: {{ section.settings.text-align }};
    }
    .widget-social-icons{
        justify-content: {{ alignIcons }};
    }
    .bg-license{
        background-color: {{ section.settings.bg-license }};
    }    
    .license{
        color: {{ section.settings.text-color-license }};
        font-size: {{ section.settings.font-size-license }}px;
        text-align: {{ section.settings.text-align-license }};
    }
</style>

{%- schema -%}
{
    "name" : {
        "en": "Footer"
    },
    "max_blocks": 3,
    "settings" : [
        {
            "type": "select",
            "id": "footer-style",
            "label" : {
                "en" : "Footer Style"
            },
            "options": [
                {
                    "value": "style-1",
                    "label": {
                        "en": "Style 1"
                    }
                },
                {
                    "value": "style-2",
                    "label": {
                        "en": "Style 2"
                    }
                }
            ],
            "default" : "style-1",
            "info": {
                "en": "When you select footer style 2 then *CONTENT* is visible only in the first element."
            }
        },
        {
            "type" : "checkbox",
            "id" : "show-newsletter-signup",
            "label" : {
                "en": "Show Newsletter Signup"  
            },
            "default": false,
            "info": {
                "en": "Note: *It only shows up when you choose footer style 2."
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Main Header"
            }
        },
        {
            "type": "color",
            "id": "bg-footer",
            "label": {
                "en": "Background Color"
            },
            "default" : "#0F1214"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo"
            }
        },
        {
            "type" : "range",
            "id": "logo_max_width",
            "label": {
                "en" : "Custom logo width"
            },
            "min": 200,
            "max": 300,
            "step": 5,
            "unit": "px",
            "default": 200
        },
        {
            "type": "select",
            "id": "align-logo",
            "label" : {
                "en" : "Align Logo"
            },
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right"
                    }
                }
            ],
            "default" : "center"
        },
        {
            "type": "header",
            "content": {
                "en": "Footer Text"
            }
        },
        {
            "type": "richtext",
            "id": "footer-text",
            "label": {
                "en": "Description"
            },
            "default" : "<p>Please enter here</p>",
            "info": {
                "en": "Note: *It only shows up when you choose footer style 2."
            }
        },
        {
            "type": "color",
            "id": "footer-color",
            "label": {
                "en": "Color Description"
            },
            "default" : "#F4F4F5"
        },
        {
            "type": "select",
            "id": "text-align",
            "label" : {
                "en" : "Text Align"
            },
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right"
                    }
                }
            ],
            "default" : "center"
        },
        {
            "type": "header",
            "content": {
                "en": "Widget Social Icons"
            }
        },
        {
            "type": "select",
            "id": "align-icons",
            "label" : {
                "en" : "Align Icons"
            },
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right"
                    }
                }
            ],
            "default" : "center"
        },
        {
            "type": "header",
            "content": {
                "en": "License"
            }
        },
        {
            "type" : "checkbox",
            "id" : "show-license",
            "label" : {
                "en": "Show License"  
            },
            "default": true
        },
        {
            "type": "color",
            "id": "bg-license",
            "label": {
                "en": "Background License"
            },
            "default" : "#252A2F"
        },
        {
            "type": "text",
            "id": "text-license",
            "label": {
                "en": "Text License"
            },
            "default" : "© All rights Reserved"
        },
        {
            "type": "color",
            "id": "text-color-license",
            "label": {
                "en": "Text Color License"
            },
            "default" : "#FFFFFF"
        },
        {
            "type" : "range",
            "id": "font-size-license",
            "label": {
                "en" : "Font Size License"
            },
            "step": 1,
            "min" : 12,
            "max" : 20,
            "unit" : "px",
            "default" : 12
        },
        {
            "type": "select",
            "id": "text-align-license",
            "label" : {
                "en" : "Text Align License"
            },
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right"
                    }
                }
            ],
            "default" : "center"
        }
    ],
    "blocks": [
        {
            "type": "footer-menu",
            "limit": 4,
            "name": {
                "en": "Footer Menu"
            },
            "settings" : [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": {
                        "en": "List Menu"
                    }
                },
                {
                    "type": "select",
                    "id": "text-align-item",
                    "label" : {
                        "en" : "Text Align"
                    },
                    "options": [
                        {
                            "value": "left",
                            "label": {
                                "en": "Left"
                            }
                        },
                        {
                            "value": "center",
                            "label": {
                                "en": "Center"
                            }
                        },
                        {
                            "value": "right",
                            "label": {
                                "en": "Right"
                            }
                        }
                    ],
                    "default" : "center"
                }
            ]
        }
    ]
}
{%- endschema -%}