{%- liquid 
    assign collection = collections[section.settings.collection]
    assign setting = section.settings
-%}
<div class="container">
    {%- if section.settings.style == 'style1' -%}
        <div class="list-product p-mx p-my" id="list-product-section-{{section.id}}" data-section-type="slideshow">
            <div class="list-product-title">
                <div class="list-product-title-text">
                    <p>{{section.settings.title}}</p>
                </div>
                {%- unless collection.products == 0 -%}
                    {%- if section.settings.show-controls -%}
                    <div class="list-product-title-button-slide" id="controls-{{section.id}}">
                        <button class="list-product-title-pre-slide">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91127 0.338713L7.8364 0.256282C7.51196 -0.0591419 7.00145 -0.0834052 6.64839 0.183492L6.5636 0.256282L0.263604 6.38128L0.226346 6.41975L0.176701 6.47911L0.112204 6.57645L0.0641029 6.67508L0.0322606 6.76726L0.00621645 6.89667L0 7L0.00250908 7.06583L0.0182161 7.17563L0.0447643 7.27312L0.084306 7.37032L0.131396 7.45562L0.19772 7.54727L0.263604 7.61872L6.5636 13.7437C6.91508 14.0854 7.48492 14.0854 7.8364 13.7437C8.16083 13.4283 8.18579 12.932 7.91127 12.5887L7.8364 12.5063L3.0744 7.875H17.1C17.5971 7.875 18 7.48325 18 7C18 6.51675 17.5971 6.125 17.1 6.125H3.0726L7.8364 1.49372C8.16083 1.1783 8.18579 0.681968 7.91127 0.338713L7.8364 0.256282L7.91127 0.338713Z" fill="#BABCBF"/>
                            </svg>
                        </button>
                        <button class="list-product-title-next-slide">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0887 0.338713L10.1636 0.256282C10.488 -0.0591419 10.9985 -0.0834052 11.3516 0.183492L11.4364 0.256282L17.7364 6.38128L17.7737 6.41975L17.8233 6.47911L17.8878 6.57645L17.9359 6.67508L17.9677 6.76726L17.9938 6.89667L18 7L17.9975 7.06583L17.9818 7.17563L17.9552 7.27312L17.9157 7.37032L17.8686 7.45562L17.8023 7.54727L17.7364 7.61872L11.4364 13.7437C11.0849 14.0854 10.5151 14.0854 10.1636 13.7437C9.83917 13.4283 9.81421 12.932 10.0887 12.5887L10.1636 12.5063L14.9256 7.875H0.9C0.402944 7.875 0 7.48325 0 7C0 6.51675 0.402944 6.125 0.9 6.125H14.9274L10.1636 1.49372C9.83917 1.1783 9.81421 0.681968 10.0887 0.338713L10.1636 0.256282L10.0887 0.338713Z" fill="#14171A"/>
                            </svg>
                        </button>
                    </div>
                    {%- else -%}
                    <div class="list-product-title-button-slide" id="controls-{{section.id}}" style="display: none">
                        <button class="list-product-title-pre-slide">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91127 0.338713L7.8364 0.256282C7.51196 -0.0591419 7.00145 -0.0834052 6.64839 0.183492L6.5636 0.256282L0.263604 6.38128L0.226346 6.41975L0.176701 6.47911L0.112204 6.57645L0.0641029 6.67508L0.0322606 6.76726L0.00621645 6.89667L0 7L0.00250908 7.06583L0.0182161 7.17563L0.0447643 7.27312L0.084306 7.37032L0.131396 7.45562L0.19772 7.54727L0.263604 7.61872L6.5636 13.7437C6.91508 14.0854 7.48492 14.0854 7.8364 13.7437C8.16083 13.4283 8.18579 12.932 7.91127 12.5887L7.8364 12.5063L3.0744 7.875H17.1C17.5971 7.875 18 7.48325 18 7C18 6.51675 17.5971 6.125 17.1 6.125H3.0726L7.8364 1.49372C8.16083 1.1783 8.18579 0.681968 7.91127 0.338713L7.8364 0.256282L7.91127 0.338713Z" fill="#BABCBF"/>
                            </svg>
                        </button>
                        <button class="list-product-title-next-slide">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0887 0.338713L10.1636 0.256282C10.488 -0.0591419 10.9985 -0.0834052 11.3516 0.183492L11.4364 0.256282L17.7364 6.38128L17.7737 6.41975L17.8233 6.47911L17.8878 6.57645L17.9359 6.67508L17.9677 6.76726L17.9938 6.89667L18 7L17.9975 7.06583L17.9818 7.17563L17.9552 7.27312L17.9157 7.37032L17.8686 7.45562L17.8023 7.54727L17.7364 7.61872L11.4364 13.7437C11.0849 14.0854 10.5151 14.0854 10.1636 13.7437C9.83917 13.4283 9.81421 12.932 10.0887 12.5887L10.1636 12.5063L14.9256 7.875H0.9C0.402944 7.875 0 7.48325 0 7C0 6.51675 0.402944 6.125 0.9 6.125H14.9274L10.1636 1.49372C9.83917 1.1783 9.81421 0.681968 10.0887 0.338713L10.1636 0.256282L10.0887 0.338713Z" fill="#14171A"/>
                            </svg>
                        </button>
                    </div>
                    {%- endif -%}
                    
                {%- endunless -%}
            </div>

            <div id="list-product-{{section.id}}">
                {%- for product in collection.products -%}
                    <div id="product-{{section.id}}">
                        {% render 'product-item-style-1' product:product %}
                    </div>
                {%- endfor -%}
            </div>
            <script type="application/json" data-tns-config>
                    {
                    "container": "#list-product-{{section.id}}",
                    "loop" : false,
                    "nav": false,
                    "autoplay": {{ section.settings.autoplay }},
                    "autoplayButtonOutput": false,
                    "mouseDrag": true,
                    "lazyload": false,
                    "speed": 400,
                    "gutter": 30,
                    "edgePadding": 10,
                    "preventScrollOnTouch": "auto",
                    "controlsContainer": "#controls-{{section.id}}",
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "600": {
                            "items": 2
                        },
                        "1024": {
                            "items": 3
                        },
                        "1240": {
                            "items": 4
                        }
                    }
                }
            </script>
        </div>
    {%- else -%}
        <div class="list-product-style p-mx p-my" id="list-product-style-section-{{section.id}}" data-section-type="slideshow">
            <div class="list-product-style-title">
                <div class="list-product-style-title-text">
                    <p>{{section.settings.title}}</p>
                </div>
                <div class="list-product-style-title-content">
                    <p>{{section.settings.content}}</p>
                </div>
                {%- unless collection.products == 0 -%}
                    {%- if section.settings.show-controls -%}
                    <div class="list-product-style-title-button-slide" id="controls-style-{{section.id}}">
                        <button class="list-product-style-title-pre-slide">
                            <svg width="16" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91127 0.338713L7.8364 0.256282C7.51196 -0.0591419 7.00145 -0.0834052 6.64839 0.183492L6.5636 0.256282L0.263604 6.38128L0.226346 6.41975L0.176701 6.47911L0.112204 6.57645L0.0641029 6.67508L0.0322606 6.76726L0.00621645 6.89667L0 7L0.00250908 7.06583L0.0182161 7.17563L0.0447643 7.27312L0.084306 7.37032L0.131396 7.45562L0.19772 7.54727L0.263604 7.61872L6.5636 13.7437C6.91508 14.0854 7.48492 14.0854 7.8364 13.7437C8.16083 13.4283 8.18579 12.932 7.91127 12.5887L7.8364 12.5063L3.0744 7.875H17.1C17.5971 7.875 18 7.48325 18 7C18 6.51675 17.5971 6.125 17.1 6.125H3.0726L7.8364 1.49372C8.16083 1.1783 8.18579 0.681968 7.91127 0.338713L7.8364 0.256282L7.91127 0.338713Z" fill="#BABCBF"/>
                            </svg>
                        </button>
                        <button class="list-product-style-title-next-slide">
                            <svg width="16" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0887 0.338713L10.1636 0.256282C10.488 -0.0591419 10.9985 -0.0834052 11.3516 0.183492L11.4364 0.256282L17.7364 6.38128L17.7737 6.41975L17.8233 6.47911L17.8878 6.57645L17.9359 6.67508L17.9677 6.76726L17.9938 6.89667L18 7L17.9975 7.06583L17.9818 7.17563L17.9552 7.27312L17.9157 7.37032L17.8686 7.45562L17.8023 7.54727L17.7364 7.61872L11.4364 13.7437C11.0849 14.0854 10.5151 14.0854 10.1636 13.7437C9.83917 13.4283 9.81421 12.932 10.0887 12.5887L10.1636 12.5063L14.9256 7.875H0.9C0.402944 7.875 0 7.48325 0 7C0 6.51675 0.402944 6.125 0.9 6.125H14.9274L10.1636 1.49372C9.83917 1.1783 9.81421 0.681968 10.0887 0.338713L10.1636 0.256282L10.0887 0.338713Z" fill="#14171A"/>
                            </svg>
                        </button>
                    </div>
                    {%- endif -%}
                {%- endunless -%}
            </div>

            <div id="list-product-style-{{section.id}}">
                {%- for product in collection.products -%}
                    <div id="product-style-{{section.id}}">
                        {% render 'product-item-style-2' product:product %}
                    </div>
                {%- endfor -%}
            </div>
            <script type="application/json" data-tns-config>
                    {
                    "container": "#list-product-style-{{section.id}}",
                    "loop" : false,
                    "nav": false,
                    "autoplay": {{ section.settings.autoplay }},
                    "autoplayButtonOutput": false,
                    "mouseDrag": true,
                    "lazyload": false,
                    "speed": 400,
                    "gutter": 30,
                    "edgePadding": 10,
                    "preventScrollOnTouch": "auto",
                    "controlsContainer": "#controls-style-{{section.id}}",
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "600": {
                            "items": 1
                        },
                        "1024": {
                            "items": 2
                        },
                        "1240": {
                            "items": 3
                        }
                    }
                }
            </script>
        </div>
        <style>
            #list-product-style-{{section.id}}-ow{
                width: 73%;
                padding-left: 10px;
            }
            @media only screen and (max-width: 600px){
                #list-product-style-{{section.id}}-ow{
                    width: 100%;
                }
            }
        </style>
    {%- endif -%}
</div>

{%- schema -%}
{
    "name" : "List Product",
    "class": "list-product",
    "settings" : [
        {
            "type": "select",
            "id": "style",
            "label": {
                "en": "Style"
            },
            "options":[
                {
                    "value": "style1",
                    "label":{
                        "en": "Style 1"
                    }
                },
                {
                    "value": "style2",
                    "label":{
                        "en": "Style 2"
                    }
                }
            ],
            "default": "style1"
        },
        {   
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type" : "collection",
            "id": "collection",
            "label": {
                "en": "Collection"
            }
        },
        {
            "type" : "checkbox",
            "id" : "autoplay",
            "label" : {
                "en": "Auto play"  
            },
            "default": false
        },
        {
            "type" : "checkbox",
            "id" : "show-controls",
            "label" : {
                "en": "Show control"  
            },
            "default": true
        }
    ],
    "blocks": [
    ],
    "presets": [
        {
            "name": "List Product",
            "category": "Advanced layout"
        }
    ]
}
{%- endschema -%}
<style>
    #product-{{section.id}}{
        padding-top: 16px;
        padding-bottom: 16px;
    }
</style>