{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{% if section.blocks.size > 0 %}
  <div class="container">
    <div id="col-main" class="page-content page-faq">

      <h1 class="page-heading">{{ page_title }}</h1>

      <div class="entry-content">
        {% assign _index = forloop.index %}
        {% for block in section.blocks %}

          {% assign _index  = _index | plus: 1 %}
          {% if block.type == 'shipping' %}
            <div class="faq-ship">
              {%- assign _heading = block.settings.heading -%}
              {% unless _heading == blank %}<h2 class="faq-ship-title">{{ _heading }}</h2>{% endunless %}

              <div class="faq-ship-content">
                {% for block in section.blocks offset: _index %}
                  {% assign _index  = _index | plus: 1 %}

                  {% if block.type == 'shipping-row' %}
                    <div class="row faq-ship-row">

                      {% for block in section.blocks offset: _index %}
                        {% if block.type == 'shipping-column' %}
                          {%- assign _heading = block.settings.heading -%}
                          {%- assign _content = block.settings.content -%}

                          {% unless _heading == blank or _content == blank %}
                            <div class="col-sm-6 col-12">
                              <div class="faq-ship-column">
                                {% unless _heading == blank %}<h3>{{ _heading }}</h3>{% endunless %}
                                {% unless _content == blank %}<div class="text-content">{{ _content }}</div>{% endunless %}
                              </div>
                            </div>
                          {% endunless %}

                        {% else %}
                          {% break %}

                        {% endif %}
                      {% endfor %}

                    </div>  
                  {% endif %}

                {% endfor %}
              </div>
            </div>

          {% elsif block.type == 'faq' %}
            <div class="faq-accordion">
              {%- assign _heading = block.settings.heading -%}
              {% unless _heading == blank %}<h2 class="faq-accordion-title">{{ _heading }}</h2>{% endunless %}

              <div class="faq-accordion-content">
                {% for block in section.blocks %}

                  {% if block.type == 'text' %}
                    {%- assign _heading = block.settings.heading -%}
                    {%- assign _content = block.settings.content -%}

                    {% unless _heading == blank or _content == blank %}
                      <div class="panel panel-faq">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a>{{ _heading }}</a>
                          </h4>
                        </div>

                        <div id="answer-{{ block.id }}" class="panel-collapse collapse">
                          <div class="panel-body">{{ _content }}</div>
                        </div>
                      </div>
                    {% endunless %}
                  {% endif %}

                {% endfor %}
              </div>

            </div>

            <script type="text/javascript">
              jQuery(document).ready(function($) {
                jQuery('.panel-faq .panel-title > a').on('click',function (e) {
                  $('.panel-faq .panel-collapse').removeClass('show');
                  $(this).parents('.panel-faq').first().find('.panel-collapse').addClass('show');
                })
              });
            </script>

          {% else %}
          {% endif %}

        {% endfor %}
      </div>

    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "FAQ Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      }
    ],
    "blocks": [
      {
        "type": "shipping",
        "name": "Shipping",
        "limit": 1,
        "settings": [
          {
            "type":"text",
            "id":"title",
            "label":"Block Label",
            "default": "Shipping Information"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Shipping Information"
          }
        ]
      },
      {
        "type": "shipping-row",
        "name": "+ Shipping Row",
        "settings": [
          {
            "type":"text",
            "id":"title",
            "label":"Block Label"
          }
        ]
      },
      {
        "type": "shipping-column",
        "name": "++ Shipping Column",
        "settings": [
          {
            "type":"text",
            "id":"title",
            "label":"Block Label"
          },
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "faq",
        "name": "FAQ",
        "limit": 1,
        "settings": [
          {
            "type":"text",
            "id":"title",
            "label":"Block Label",
            "default": "FAQ"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "FAQ Second Version"
          }
        ]
      },
      {
        "type": "text",
        "name": "+ FAQ Content",
        "settings": [
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}