{% assign _breadcrumb_mobile = settings.breadcrumb_mobile %}
{% assign _breadcrumb_styles = settings.breadcrumb_styles %}

{% if template contains 'customers' or template == 'page' %}
  {% capture _breadcrumb_image %} {{ 'breadcrumb_bg.jpg' | asset_url }} {% endcapture %}
{% else %}
  {% capture _breadcrumb_image %} {{ section.settings.breadcrumb_image | img_url: '1920x' }} {% endcapture %}
  {% if section.settings.breadcrumb_image == blank %}{% capture _breadcrumb_image %} {{ 'breadcrumb_bg.jpg' | asset_url }} {% endcapture %}{% endif %}
{% endif %}

<div class="wrap-breadcrumb bw-{{ _breadcrumb_styles }} {% unless _breadcrumb_mobile %} d-none d-md-block{% endunless %}"{% if _breadcrumb_styles == 'image' %} style="background-image: url({{_breadcrumb_image }});"{% endif %}>
  <div id="breadcrumb" class="breadcrumb-holder container">

        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ routes.root_url }}">
              <span itemprop="name" class="d-none">{{ shop.name | escape }}</span>{{ 'general.text.home' | t }}
              <meta itemprop="position" content="1" /> 
            </a>
          </li>

          {% if template contains 'product' %}

            {% if collection %}
              {% if collection.handle %}

          		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="d-none">
                  <a href="{{collection.url}}" itemprop="item">
                    <span itemprop="name">{{ collection.title }}</span>
                    <meta itemprop="position" content="2" />
                  </a>
                </li>    
                <li>{{ collection.title | link_to: collection.url }}</li>

              {% endif %}
            {% endif %}

          	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="d-none">
              <a href="{{product.url}}" itemprop="item">
                <span itemprop="name">{{ product.title }}</span>
                <meta itemprop="position" content="2" />
              </a>
            </li>
            <li class="active">{{ product.title }}</li>

          {% elsif template contains 'collection' %}

            {% if current_tags %}
              <li>{{ collection.title | link_to: collection.url }}</li>
              <li class="active">{{ current_tags.first }}</li>

            {% elsif collection.handle %}
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="d-none">
                <a href="{{collection.url}}" itemprop="item">
                  <span itemprop="name">{{ collection.title }}</span>
                  <meta itemprop="position" content="2" />
                </a>
              </li>
              <li class="active">{{ collection.title }}</li>

            {% else %}
              <li class="active">{{ page_title }}</li>
            {% endif %}

          {% elsif template == 'article' %}

            <li>{{ blog.title | link_to: blog.url }}</li>
            <li class="active">{{ article.title }}</li>

          {% else %}

            <li class="active">{{ page_title }}</li>

          {% endif %}
        </ul>

  </div>
</div>