{%- assign _block = block.settings -%}
<div class="carousel__img align-image-{{ block.id }}">
    <div class="content" id="content-{{ block.id }}">
        <div class="sub-title-1">{{_block.sub_title}}</div>
        <div class="title-1">{{_block.title}}</div>
        {%- if _block.text_button != blank -%}
            <div class="{{ _block.animation_button }}" id="btn-style-{{ block.id }}">
                <p class="mas">{{ _block.text_button }}</p>
                <a href="{{_block.url}}">{{ _block.text_button }}</a>
            </div>
        {%- endif -%}
    </div>
    <div class="image-slider" id="image-{{ block.id }}">
        {%- if _block.image != blank -%}
            {%- assign img_url = _block.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ _block.image.id }}"
                class="lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ _block.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ _block.image.alt }}">
        {%- else -%}
            {{ 'image' | placeholder_svg_tag }}                  
        {%- endif -%}
    </div>
</div>
<style>
    .carousel .align-image-{{ block.id }}{
        text-align: {{ _block.align-image }};
    }
    .carousel #content-{{ block.id }}{
        top: {{ _block.top }}%;
        left: {{ _block.left }}%;
        transform: translateY(-50%);
        text-align: {{ _block.text-align }};
    }
    .carousel #image-{{ block.id }} img{
        width: {{ _block.width-image }}%;
    }

    .carousel #btn-style-{{ block.id }}{
        border-radius: {{ _block.border_button }}px;
    }
    .carousel #btn-style-{{ block.id }} a{
        background-color: {{ _block.color_button }};
    }
</style>