{% unless section.settings.payment_icon_type == 'none' %}
<div class="payment-icons">
  
  <ul class="list-inline">
    {% if section.settings.payment_icon_type == 'image' and section.settings.payment_image != blank %}
      {% assign _payment_size = section.settings.payment_image_width | append: 'x' %}
      {% assign _payment_size_2x = section.settings.payment_image_width | times: 2 | append: 'x' %}
      <li {% if _lazyload %} class="lazyload waiting{% endif %}"> 
        <img {% if _lazyload %} class="lazyload" data-srcset="{{ section.settings.payment_image | img_url: _payment_size }} 1x, {{ section.settings.payment_image | img_url: _payment_size_2x }} 2x"
             {% else %}src="{{ section.settings.payment_image | img_url: _payment_size }}"{% endif %} 
             alt="Payment"
             style="max-width: {{ section.settings.payment_image_width }}px;" />
      </li> 

    {% else %}
      {% for i in (1..4) %}
        {% assign _font_icon = 'payment_icon_' | append: i %}

        {% unless section.settings[_font_icon] == blank %}
          {% assign _icon_title = 'payment_icon_title_' | append: i %}
          <li>{{ section.settings[_font_icon] }}</li>
        {% endunless %}

      {% endfor %}

    {% endif %}
  </ul>
  
</div>
{% endunless %}