<div class="header-icons d-none d-lg-block">
  
  {% if _header_style == 6 %}
    {% include 'header-search' %}
  {% endif %}
  
  <ul class="list-inline"> 
    
    {% if _header_style == 5 or _header_style == 6 %}
      {% include 'multi-lang-source' %}
      
      {% if settings.currency_type != '3' or locale_selector %}
        {% if locale_selector %}
          <li class="currency_icon currency_icon_desktop type-lang-list" data-target="#language-popup" data-toggle="modal" data-flag="{% if settings.m_lang_type == 'shopify-native' %}lang-list{% else %}lang-weglot{% endif %}"></li>
        {% else %}
          <li class="currency_icon currency_icon_desktop flag-3" data-target="#language-popup" data-toggle="modal" data-flag="currency"><i></i></li>
        {% endif %}
      {% endif %}

      {% if shop.customer_accounts_enabled %}

        {% assign _account_icon_type = settings.account_icon_type %}
        {% assign _account_font_icon = settings.account_font_icon %}
        {% assign _account_icon = settings.account_icon %}

        <li class="customer-account{% if _lazyload and _account_icon_type == 'image' %} lazyload waiting{% endif %}">
          <a href="{{ routes.account_url }}" title="{{ 'general.header.my_account' | t }}">

            {% if _account_icon_type == 'font-icon' %}
              {{ _account_font_icon }}

            {% else %}
              <img {% if _lazyload %}class="lazyload"
                   data-srcset="{{ _account_icon | img_url: '20x'}} 1x, {{ _account_icon | img_url: '40x'}} 2x"
                   {% else %}src="{{ _account_icon | img_url: '20x'}}"{% endif %}
                   alt="Account" />

            {% endif %}

          </a>
        </li>
      {% endif %}
    {% endif %}

    {% if settings.enable_product_compare %}
      <li class="compare-target">
        {% render 'arn_wl_cp_custom_buttons', type: 'cp_show_btn', product_handle: product.handle %}
      </li>
    {% endif %}

    {% if settings.product_wishlist_option == 'wishlist-compare' %}
      <li class="wishlist-target">
        {% render 'arn_wl_cp_custom_buttons', type: 'wl_show_btn', product_handle: product.handle %}
      </li>
    {% endif %}

    {% unless settings.catalog_mode %} 
      {% assign _cart_icon_type = settings.cart_icon_type %}
      {% assign _cart_font_icon = settings.cart_font_icon %}
      {% assign _cart_icon = settings.cart_icon %}
    
      <li class="top-cart-holder{% if settings.cart_styles == 'dropdown' %} hover-dropdown{% endif %}">
        <div class="cart-target">

          {% if settings.cart_styles == 'dropdown' %}
            <a href="javascript:void(0)" class="basket dropdown-toggle{% if _lazyload and _cart_icon_type == 'image' %} lazyload waiting{% endif %}" title="cart">
              {% if _cart_icon_type == 'font-icon' %}
                {{ _cart_font_icon }}

              {% else %}
                <img {% if _lazyload %}class="lazyload"
                     data-srcset="{{ _cart_icon | img_url: '20x'}} 1x, {{ _cart_icon | img_url: '40x'}} 2x"
                     {% else %}src="{{ _cart_icon | img_url: '20x'}}"{% endif %}
                     alt="Cart" />

              {% endif %}

              <span class="number"><span class="n-item">{{ cart.item_count }}</span></span>
            </a>

            <div class="cart-dd">
              <form id="cart-info" action="{{routes.cart_url}}" method="post">
                <div id="cart-content" class="cart-content">
                  <div class="cart-loading"></div>
                </div>
              </form>
            </div>

          {% else %}
            <a href="javascript:void(0)" class="basket cart-toggle{% if _lazyload and _cart_icon_type == 'image' %} lazyload waiting{% endif %}" title="cart">
              {% if _cart_icon_type == 'font-icon' %}
                {{ _cart_font_icon }}

              {% else %}
                <img {% if _lazyload %}class="lazyload"
                     data-srcset="{{ _cart_icon | img_url: '20x'}} 1x, {{ _cart_icon | img_url: '40x'}} 2x"
                     {% else %}src="{{ _cart_icon | img_url: '20x'}}"{% endif %}
                     alt="Cart" />

              {% endif %}

              <span class="number"><span class="n-item">{{ cart.item_count }}</span></span>
            </a>

          {% endif %}

        </div>
      </li>            
    {% endunless %}

  </ul>
</div>