{% if settings.show_search %}
  <div class="searchbox searchbox-mobile">
    <div class="container">

      {% assign _search_icon_type = settings.search_icon_type %}
      {% assign _search_font_icon = settings.search_font_icon %}
      {% assign _search_icon = settings.search_icon %}

      <form id="search-mobile" class="navbar-form search" action="/search" method="get">
        <input type="hidden" name="type" value="product" />
        <input type="hidden" name="options[prefix]" value="last" />
        <input id="bc-product-mobile-search" type="text" name="q" class="form-control bc-product-search"  placeholder="{{ 'general.text.search_placeholder' | t }}" autocomplete="off" />

        <button type="submit" class="search-icon">
          <span{% if _lazyload and _search_icon_type == 'image' %} class="lazyload waiting"{% endif %}>

            {% if _search_icon_type == 'font-icon' %}
              {{ _search_font_icon }}

            {% else %}
              <img {% if _lazyload %}class="lazyload"
                   data-srcset="{{ _search_icon | img_url: '20x'}} 1x, {{ _search_icon | img_url: '40x'}} 2x"
                   {% else %}src="{{ _search_icon | img_url: '20x'}}"{% endif %}
                   alt="Search" />

            {% endif %}

          </span>
        </button>
      </form>
      
      {% if settings.ajax_search == 'default-theme' %}
        <div class="result-ajax-search">
          <ul class="search-results"></ul>
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}