{%- assign _image_position = block.settings.image_position -%}
{%- assign _image = block.settings.image -%}
{%- assign _image_size = block.settings.image_size -%}

{% unless _collection == blank or collection.products_count == 0 %}
  <div class="hp-tabs-list tabs-list-row position-{{ _image_position }}">

    {% unless _image == blank %}
      <div class="hp-tabs-special hp-tabs-image">
        <div class="block-image">
          {% include 'image-lazysize' with image: _image, image_size: _image_size, image_class: '', image_alt: 'Image' %}
        </div>
      </div>
    {% endunless %}

    <div class="hp-tabs-product">
      <div class="block-product row">
        {% for product in collection.products limit: _limit %}
          <div class="product-grid-item {{ _desktop_class }} {{ _tablet_class }} {{ _mobile_class }}">
            {% include 'product-item' %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% else %}
  <div class="hp-tabs-list tabs-list-row position-left">

    <div class="hp-tabs-special hp-tabs-image">
      <div class="block-image">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>

    <div class="hp-tabs-product">
      <div class="block-product row">
        {{ emptyProduct }}
      </div>
    </div>

  </div>

{% endunless  %}