{%- liquid 
  assign variant_first_available = product.first_available_variant
  assign available = product.available   
  assign current_variant = product.selected_or_first_available_variant
  assign first_variant = product.variants | first
  assign selected_variant = product.selected_or_first_available_variant | default: first_variant
-%}

<div class="cart-product-style">
    <div class="cart-product-style-promotion">
        {%- if product.tags contains "new" -%}
            <p class="cart-product-style-promotion-content">New</p>
        {%- elsif current_variant.compare_at_price > current_variant.price -%}
            <p class="cart-product-stlye-promotion-content">{{ 'products.product.on_sale' | t }}</p>
        {%- endif -%}
    </div>
    <div class="cart-product-style-image">
        <a href="{{product.url}}">
            {%- if product.featured_image != blank -%}
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                    class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-sizes="auto"
                    alt="{{ product.featured_image.alt }}">
            {%- else -%}
                {{ 'image' | placeholder_svg_tag }}                  
            {%- endif -%}
        </a>
    </div>
    <div class="cart-product-style-title">
        <a href="{{product.url}}">
            <h1>{{product.title}}</h1>
        </a>
    </div>
    <div class="cart-product-style-price">
        {%- if current_variant.compare_at_price > current_variant.price -%}
            <span class="cart-product-style-price-sale">
                {{current_variant.price | money}}
            </span>
            <span class="cart-prodcut-style-price-after-sale">
                {{current_variant.compare_at_price | money}}
            </span>
        {%- else -%}
            <span class="cart-product-style-price-original">
                {{current_variant.price | money}}
            </span>
        {%- endif -%}
    </div>
    <div class="cart-style-function">
        <div class="cart-style-button">
            {%- if available -%}
                <form class="form-cart" action="/cart/add">
                    <input type="hidden" name="id" value="{{variant_first_available.id}}">
                    <button type="submit" class="icon-cart">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4916 3.87482H10.7456C10.5498 2.41637 9.37995 1.33337 8.00033 1.33337C6.6207 1.33337 5.45085 2.41637 5.25506 3.87482H3.5091C3.04402 3.87482 2.66699 4.27746 2.66699 4.77415V13.7674C2.66699 14.2641 3.04402 14.6667 3.5091 14.6667H12.4916C12.9566 14.6667 13.3337 14.2641 13.3337 13.7674V4.77415C13.3337 4.27746 12.9566 3.87482 12.4916 3.87482ZM8.00025 2.22605C8.89428 2.28881 9.65221 2.95128 9.88656 3.87481H6.11393C6.34829 2.95128 7.10621 2.28881 8.00025 2.22605ZM12.4916 13.7674H3.50911V4.77413H5.19333V5.67345C5.19333 5.92179 5.38184 6.12311 5.61438 6.12311C5.84692 6.12311 6.03543 5.92179 6.03543 5.67345V4.77413H9.96525V5.67345C9.96525 5.92179 10.1538 6.12311 10.3863 6.12311C10.6188 6.12311 10.8074 5.92179 10.8074 5.67345V4.77413H12.4916V13.7674Z" fill="white"/>
                        </svg>
                    </button>
                </form>
            {% else %}
            {%- endif -%}
        </div>
        <div class="cart-style-modal">
            <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1637 9.42769C18.0273 9.21258 14.7543 4.16675 9.99996 4.16675C5.24567 4.16675 1.97259 9.21258 1.83621 9.42769C1.61059 9.77971 1.61059 10.2241 1.83621 10.5761C1.97259 10.7912 5.24567 15.8188 9.99617 15.8334H10.0189C14.758 15.8334 18.0311 10.7876 18.1675 10.5725C18.3904 10.2207 18.3889 9.77813 18.1637 9.42769ZM10.0188 14.7397C5.85169 14.7397 2.82107 10.0001 2.82107 10.0001C2.82107 10.0001 5.85169 5.2605 10.0188 5.2605C14.1859 5.2605 17.2165 10.0001 17.2165 10.0001C17.2165 10.0001 14.1745 14.7397 10.0188 14.7397Z" fill="#494F56"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99937 7.0835C8.32561 7.0835 6.96875 8.38933 6.96875 10.0002C6.96875 11.611 8.32561 12.9168 9.99937 12.9168C11.6731 12.9168 13.03 11.611 13.03 10.0002C13.03 8.38933 11.6731 7.0835 9.99937 7.0835ZM9.99937 11.8231C8.95326 11.8231 8.10522 11.0069 8.10522 10.0002C8.10522 8.99339 8.95326 8.17725 9.99937 8.17725C11.0455 8.17725 11.8935 8.99339 11.8935 10.0002C11.8935 11.0069 11.0455 11.8231 9.99937 11.8231Z" fill="#494F56"/>
                </svg>
            </a>
        </div>
        <div class="cart-style-like">
            <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4124 2.98376C14.4235 2.95962 15.3993 3.41387 16.1144 4.24153C16.8295 5.06919 17.2219 6.19864 17.2011 7.36888C17.1778 7.97708 17.049 8.57362 16.8222 9.12293C16.1478 10.6928 10.0026 17.0162 10.0026 17.0162C10.0026 17.0162 3.86496 10.6884 3.183 9.12293C2.9401 8.58052 2.81034 7.97979 2.80414 7.36888C2.78651 6.19974 3.18001 5.07248 3.89438 4.24564C4.60875 3.41881 5.58269 2.96336 6.59281 2.98376C7.61196 2.98376 9.32065 4.85621 10.0026 5.61483C10.6846 4.86059 12.3933 2.98376 13.4124 2.98376ZM13.4125 1.66822C12.5146 1.66822 11.4689 2.3216 10.0027 3.82132C8.53645 2.3216 7.49078 1.66822 6.59286 1.66822C4.9078 1.62347 3.32516 2.60172 2.42011 4.24748C1.51505 5.89323 1.41931 7.96691 2.16769 9.71492C2.89133 11.3769 7.76735 16.4768 9.24493 17.9984C9.67639 18.4451 10.3289 18.4451 10.7604 17.9984C12.2418 16.4768 17.1254 11.3769 17.8414 9.70615C18.5818 7.95782 18.4816 5.88931 17.5771 4.2477C16.6725 2.60608 15.0943 1.62858 13.4125 1.66822Z" fill="#494F56"/>
                </svg>
            </a>
        </div>
        <div class="cart-style-refresh">
            <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0113 3.58885C11.3429 3.58851 12.6394 4.02777 13.7094 4.8418L12.0061 5.08982C11.6611 5.11462 11.401 5.4219 11.4251 5.77616C11.4493 6.13042 11.7485 6.3975 12.0935 6.3727H12.181L15.0961 5.94507C15.2602 5.92074 15.4081 5.83047 15.5073 5.69412C15.6065 5.55777 15.6488 5.38654 15.625 5.21811L15.2086 2.22472C15.1603 1.87046 14.8415 1.62349 14.4965 1.67308C14.1515 1.72268 13.9109 2.05007 13.9592 2.40433L14.1258 3.59313C11.4601 1.78647 7.97231 1.91269 5.43708 3.90757C2.90184 5.90246 1.87607 9.32779 2.88168 12.4407L3.89365 11.4016C3.47951 9.49785 3.93152 7.50404 5.12189 5.98384C6.31226 4.46363 8.11163 3.58225 10.0113 3.58885Z" fill="#494F56"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1198 7.57434L16.1078 8.61348C16.6676 11.234 15.58 13.9355 13.3815 15.3851C11.1831 16.8348 8.33826 16.7264 6.25048 15.1134L7.60394 14.9167C7.94894 14.8671 8.18946 14.5397 8.14116 14.1855C8.09286 13.8312 7.77403 13.5842 7.42903 13.6338L4.51388 14.0614C4.34984 14.0858 4.20194 14.1761 4.10275 14.3124C4.00355 14.4487 3.96119 14.62 3.98499 14.7884L4.40144 17.7818C4.44489 18.0974 4.7074 18.3323 5.01779 18.3334H5.10524C5.26928 18.3091 5.41718 18.2188 5.51638 18.0825C5.61557 17.9461 5.65793 17.7749 5.63413 17.6065L5.42174 16.067C8.02802 18.1334 11.6424 18.2114 14.3309 16.2593C17.0194 14.3072 18.1526 10.782 17.124 7.57007L17.1198 7.57434Z" fill="#494F56"/>
                </svg>
            </a>
        </div>
    </div>
</div>