{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}
<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="image" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}">
  <meta itemprop="mpn" content="{{ product.variants.first.barcode }}" />
  <span itemprop="name" class="hide">{{ product.title }}</span>
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="sku" content="{{ product.variants.first.sku }}">
  <meta itemprop="description" content="{{ product.description | strip_html | truncate: 100 }}">
  
  <div itemprop="review" itemscope itemtype="https://schema.org/Review" style="display: none;"> Review:
    <span itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <span itemprop="ratingValue">5</span> -
    </span>
    <b>"<span itemprop="name">A masterpiece of literature</span>" </b> by
    <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">John Doe</span></span>, written on
    <meta itemprop="datePublished" content="2020-05-04">May 4, 2006
    <div itemprop="reviewBody">I really enjoyed this book. It captures the essential challenge people face as they try make sense of their lives and grow to adulthood.</div>
    <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="Washington Times"></span>
  </div>
  
  {% assign _lazyload = settings.use_lazyload %}
  {% assign _product_layout = 'extended' %}
  
  {% assign meta_bw = product.metafields.c_f %}
  
  {% unless meta_bw.bundle_1 == blank %}
    {% assign accessory_handle_1 = meta_bw.bundle_1 %}
    {% assign accessory_1 = all_products[accessory_handle_1] %}
  {% endunless %}

  {% unless meta_bw.bundle_2 == blank %}
    {% assign accessory_handle_2 = meta_bw.bundle_2 %}
    {% assign accessory_2 = all_products[accessory_handle_2] %}
  {% endunless %}

  <div id="col-main" class="page-product layout-{{ _product_layout }} layout-bundle">
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />

      {% if product.available %}
        <link itemprop="availability" href="https://schema.org/InStock" />
      {% else %}
        <link itemprop="availability" href="https://schema.org/OutOfStock" />
      {% endif %}
      
      <div class="container">
        <div class="product">

          <div class="product-content-wrapper">
            <div class="row">

              {% include 'product-detail-image' %}
              {% include 'product-detail-content' %}

              <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div id="product-info" class="product-info">
                  <div class="product-info-inner">

                        {% include 'product-detail-stock' %}
                        {% include 'product-detail-price' %}

                        {% if product.available %}

                          {% assign hide_default_title = false %}

                          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                            {% assign hide_default_title = true %}
                          {% endif %}

                          <div class="group-cw clearfix">
                            {% form 'product', product, class:'product-form product-action variants' %}

                              {% include 'product-detail-qty' %}
                              {% include 'product-detail-variants' %}
                              {% include 'product-detail-btn' %}
                              {% include 'product-detail-wishlist-compare' %}

                            {% endform %} 
                          </div>

                        {% else %}
                          {% include 'product-detail-unavailable' %}

                        {% endif %}  

                        {% include 'product-detail-pre-order' %}

                  </div>
                </div>
              </div>

            </div>
          </div>
          
        </div>
      </div>

    
      {% if section.settings.show_product_tab %}
        {% include 'product-bundle-toggle' %}
      {% endif %}

      {% if section.settings.product_tab_review == 'below' and settings.product_review_option != 'none' %}
        <div class="review-item" id="tab_review_tabbed">
          <div id="tab-review" class="container">
            {% include 'product-detail-review-content' %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.enable_related_product %}
        <div class="container">
          {% include 'related-product' %}
        </div>
      {% endif %}

    </div>
  </div>

</div>

{% if settings.enable_notify_product_page %}
  {% include 'layout-notify' %}
{% endif %}

<script type="text/javascript">
  
    jQuery(document).ready(function($) {
      AT_Main.stickAddToCart();
      AT_Main.deadLine_time();
      AT_Main.delivery_time();
      AT_Main.scrollToReview();
    });

	// initialize multi selector for product
	$(window).on('load', function () {
    setTimeout(function(){
      AT_Main.scareWidth();
    }, 1000);
      
    $(".qty-inner .qty-up").on("click", function() {
			var oldValue = $("#quantity").val(),
				newVal = 1;
				newVal = parseInt(oldValue) + 1;
				$("#quantity").val(newVal);
		});
    
		$(".qty-inner .qty-down").on("click", function() {
			var oldValue = $("#quantity").val();
			if (oldValue > 1) {
				newVal = 1;
				newVal = parseInt(oldValue) - 1;
				$("#quantity").val(newVal);
			}
		});

		/* selectCallback */
		var selectOptionsCallback = function(variant, selector) {

			if (variant) {
				var form = jQuery('#' + selector.domIdPrefix).closest('form');
				for (var i=0,length=variant.options.length; i<length; i++) {
					var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
					if (radioButton.length) {
						radioButton.get(0).checked = true;
					}
				}
			}    
          
			var add_to_cart = '#add-to-cart';
			var $price = '#purchase-' + selector.product.id.toString() + ' .detail-price';
    	var $price_default = '#price-default-' + selector.product.id.toString();
      var $price_total = '#bundled-tp-' + selector.product.id.toString();
			if (variant && variant.available) {
              
        jQuery("#stock").html('<span>{{"products.product.available" | t }}:</span><span class="stock"> {{"products.product.in_stock" | t }}</span>');
      
      	// Update variant image
				if (variant.featured_image) { 
          var originalImage = jQuery(".slider-for-03 .slick-current .image-zoom");
          var newImage = variant.featured_image;
          var element = originalImage[0];
          var groupImage  = String(variant.featured_image.alt);  
          
          AT_Main.productPage_variantFilter(groupImage == 'null' ? 'none-group' : groupImage);
         
          Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
            jQuery('.slider-thumbs-03 img').each(function() {
              var grandSize = jQuery(this).attr('src');
              grandSize = grandSize.replace('small','2048x2048');
              if (grandSize == newImageSizedSrc) {
                jQuery(this).parent().trigger('click');  
                
                let w_thumb = jQuery('.slider-thumbs-03').outerWidth()
                ,w_track = jQuery('.slider-thumbs-03 .slick-track').outerWidth();
                if ((w_track <= w_thumb || AT_Main.getWidthBrowser() < 768)) {
                  jQuery('.slider-thumbs-03 .slick-track').addClass('no-translate3d');
                }else{
                  jQuery('.slider-thumbs-03 .slick-track').removeClass('no-translate3d');
                }
                return false;
              }
            });
          });   
        }

				// selected a valid variant
				$(add_to_cart).removeClass('disabled').removeAttr('disabled').html('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 68 64"><path d="M2.24 0.576c3.52-0.704 7.168 0.192 10.24 1.792 2.624 1.344 4.224 4.096 5.056 6.848 0.96 3.008 1.344 6.144 1.92 9.216 0.96 5.056 2.304 10.048 3.072 15.104 0.384 2.048 0.704 4.224 2.112 5.888 1.408 1.6 3.776 1.664 5.824 1.728 5.376 0 10.816-0.256 16.192 0.128 1.344 0.064 2.88 0 3.648-1.344 3.52-5.312 6.464-11.008 9.28-16.768 0.576-1.152 1.28-2.368 2.56-2.816 1.344-0.448 3.008-0.256 4.032 0.768 1.152 1.28 1.344 3.2 0.704 4.736-2.688 5.376-5.184 10.816-8.512 15.872-1.472 2.176-3.008 4.544-5.184 6.144-1.792 1.28-4.096 0.832-6.144 0.768-6.272-0.064-12.544 0.384-18.752 0-4.16-0.32-8.256-2.368-10.624-5.888-1.728-2.752-2.368-6.080-3.008-9.216-1.28-6.784-2.624-13.504-3.904-20.288-0.384-1.6-0.896-3.392-2.304-4.352-2.24-1.6-5.376-0.256-7.552-1.984-1.344-0.96-0.704-2.688-0.832-4.096-0.128-1.216 1.152-1.984 2.176-2.24zM34.432 4.928c-0.064-1.216 1.408-1.536 2.368-1.792 2.048-0.32 4.608-0.384 6.208 1.152 0.448 3.776 0.64 7.616 0.768 11.392 1.92 0.128 3.84-0.256 5.76-0.064 0.704 0.064 1.536 0.512 1.472 1.344-0.32 1.472-1.472 2.56-2.368 3.712-2.688 3.456-5.76 6.528-8.832 9.536-0.448 0.448-1.024 0.704-1.6 0.448-1.216-0.512-1.984-1.728-2.88-2.688-2.112-2.304-4.224-4.544-6.144-6.912-0.96-1.216-2.176-2.24-2.624-3.712-0.256-0.832 0.512-1.6 1.344-1.664 1.92-0.256 3.84 0.128 5.76 0 0.256-3.584 0.384-7.168 0.768-10.752zM25.28 51.584c2.432-0.704 5.184 0 6.784 1.856 2.368 2.624 1.984 7.232-0.96 9.216-3.136 2.304-8.448 1.216-9.92-2.56-1.664-3.328 0.64-7.616 4.096-8.512zM45.376 53.504c2.432-2.88 7.36-2.944 9.856-0.128 2.112 2.304 2.048 6.208-0.064 8.512-1.216 1.28-2.944 2.048-4.672 2.112h-0.128c-1.856-0.064-3.776-0.832-4.928-2.24-2.048-2.304-2.112-6.016-0.064-8.256z"></path></svg>{{ "products.product.add_to_cart" | t }}'); // remove unavailable class from add-to-cart button, and re-enable button

				if(variant.compare_at_price == null){
					$($price).html('<span class="price">'+Shopify.formatMoney(variant.price, '{{shop.money_format}}')+'</span>');
                    
          {% unless settings.saleoff_label == 'none' %}
            jQuery("#label-sale").html('').hide();
          {% endunless %}
				}
			  
				else {                                   
					$($price).html('<span class="price-sale">'+Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>' + '<del class="price-compare">' + Shopify.formatMoney(variant.compare_at_price, '{{shop.money_format}}') + '</del>');
                                                                                       
          {% unless settings.saleoff_label == 'none' %}
            jQuery("#label-sale").html('<span class="sale-text">{{ "products.label.sale" | t }}</span>').show();
          {% endunless %}
				}
                                                 
        {% if section.settings.enable_pre_order_button %}
          $('.pre-order').addClass('hide');
          $('.shopify-payment-button').removeClass('hide');
        {% endif %}
                                         
        /* Update currency */
        {% if settings.currency_type == '2' %}
          currenciesCallbackSpecial('#product-info span.money');
				{% endif %}
			} 
			else {
        jQuery("#stock").html('<span>{{"products.product.available" | t }}:</span><span class="stock"> {{"products.product.out_stock" | t }}</span>');
				$(add_to_cart).addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
				var message = variant ? "{{'products.product.sold_out' | t }}" : "{{'products.product.unavailable' | t }}";
				$(add_to_cart).html(message);
                
        {% if section.settings.enable_pre_order_button %}
          $('.pre-order').removeClass('hide');
          $('.shopify-payment-button').addClass('hide');
        {% endif %}
			}
                
        {% if section.settings.show_product_sku %}
  				if (variant && variant.sku ) { jQuery("#sku").html(variant.sku).parent().show(); }
  				else{jQuery("#sku").parent().hide(); }
        {% endif %}
		};

    {% if product.variants.size > 1 %}
        new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json | remove:'\u003E' | remove:'\u003C' | remove:'\u00a0' }}, onVariantSelected: selectOptionsCallback, enableHistoryState: true });
    {% endif %}
              
		// Add label if only one product option
		{% if product.options.size == 1 and product.options.first != 'Title' %}
			$('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
		{% endif %}
												 
		// Hide selectors if we only have 1 variant and its title contains 'Default'.
		{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
			$('.selector-wrapper').hide();
		{% endif %}

	});
          
  jQuery(document).ready(function($) {
    
      jQuery('.layout-bundle .bundled-checkbox').change(function () {
          var _price0 = Number($(".b-price-0 .t-price").html()); 
          var e = $(this).parents(".bundled-item").first();

          if ($(this).is(':checked')) {
            $(this).attr( 'checked', true );
            e.find('.product-qty .field').val(1);
            var _bundled_checkbox_id = e.find('.bundled-checkbox').attr('id');
            $('.bundled-images').find('.image').each(function( index,value){
              if(_bundled_checkbox_id == jQuery(value).data('id')){
                $('.' + jQuery(value).data('id')).removeClass('hide');
              }
            });
          }
          else{
            $(this).attr( 'checked', false );
            e.find('.product-qty .field').val(0);
            var _bundled_checkbox_id = e.find('.bundled-checkbox').attr('id');
            $('.bundled-images').find('.image').each(function( index,value){
              if(_bundled_checkbox_id == jQuery(value).data('id')){
                $('.' + jQuery(value).data('id')).addClass('hide');
              }
            });
          }

          var _price1 = 0;
          if( $('#crust-items').hasClass('bundled-1-true') && $(".product-qty-1 .field").val() != 0 ){  _price1 = Number($(".b-price-1 .t-price").html());}
        
          var _price2 = 0;
          if( $('#crust-items').hasClass('bundled-2-true') && $(".product-qty-2 .field").val() != 0 ){ _price2 = Number($(".b-price-2 .t-price").html());}

          var _price = $('.total-price');
        
          var _tprice = _price0 + _price1 + _price2;

          $(_price).html('<span class="price">'+Shopify.formatMoney(_tprice, _bc_config.money_format)+'</span>');

          {% if settings.currency_type == '2' %}
            currenciesCallbackSpecial('.bundled-total-price span.money');
          {% endif %}
      });

      window.onload = function() {
        var reloading = sessionStorage.getItem("reloading");
        if (reloading) {
          sessionStorage.removeItem("reloading");
          setTimeout(function(){
            {% if settings.cart_styles == 'dropdown' %}$('#layer-addcart-modal').show();$('.addcart-modal-box').show();{% else %}addCart(){% endif %};
          }, 1000);
        }
      }

      function reloadP() {
        sessionStorage.setItem("reloading", "true");
        document.location.reload();
      }
    
      $("body").on('click', '.bt-add-to-cart', function(){ 

        $('#bundledAddToCart').find('.bundled-item').each(function( index,value){
          
          var _current_id = $(value).find('.product-qty .field').attr('id');
          
          if($(value).find('.bundled-checkbox').is(':checked') || $(value).hasClass('bundled-item-0') ){
            var _quantity = 1;
          }
          
          if( _quantity > 0 ){
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              async: false,
              cache: false,
              dataType: 'json',                               
              data: { id : _current_id,quantity: _quantity},            
              success: function(response){
                console.log(response);
                setTimeout(function(){
                  window.location.href = "{{ routes.cart_url }}";
                }, 1000);
              },
              error: function(data){
                console.log(data);   
                alert("All items are in your cart");
              }             
            });
          }

        });

      });

  });
          
</script>