{% include 'products-listing-tabs-config' %}

<div role="tabpanel" id="hp-tabs-{{ section.id }}" class="hp-tabs-section layout-{{_layout }} tab-style-listing{% if _hide_mobile %} d-none d-md-block{% endif %} {% if _padding == 'no' %} no-padding{% endif %}" style="background-color: {{ _background }};">
  {% if settings.left_column_style == 'none' %}<div class="{{ _layout_class }}">{% endif %}

      {% include 'heading-block' %}

      <div class="wrap-tab-content">
        {% if section.blocks.size > 0 %}

          <div class="nav-tab-wrapper" data-expand="10">
            <ul class="nav nav-tabs tab-heading" role="tablist">

              {% for block in section.blocks %}
                {%- assign _tab_title = block.settings.tab_title -%}
                {%- assign _collection = block.settings.collection -%}
                {%- assign collection = collections[_collection] -%}
              
                <li class="tab-title nav-item">
                  <a class="nav-link{% if _number_active == forloop.index %} active {% endif %}" href="#hp-tabs-{{ section.id }}-{{ forloop.index }}" aria-controls="hp-tabs-{{ section.id }}-{{ forloop.index }}" role="tab" data-toggle="tab">
                    {% unless _collection == blank %}
                      {% unless _tab_title == blank %}{{ _tab_title }}{% else %}{{ collection.title }}{% endunless %}

                    {% else %}
                      {{ 'homepage.onboarding.tab_title' | t }}

                    {% endunless %}
                  </a>
                </li>

              {% endfor %}

            </ul>
          </div>

          <div class="tab-content">
            {% for block in section.blocks %}

              {%- assign _collection = block.settings.collection -%}
              {%- assign collection = collections[_collection] -%}

              <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">
                <div class="hp-tabs-content type-{{ block.type }}">

                  {% case block.type %}

                  {% when 'product' %}
                    {% include 'plt-type-product' %}
                  
                  {% when 'special-product' %}
                    {% include 'plt-type-special-product' %}
                  
                  {% else %}
                    {% include 'plt-type-image' %}
                  
                  {% endcase %}

                </div>
              </div>

            {% endfor %}
          </div>
 
        {% else %}

          <div class="nav-tab-wrapper">
            <ul class="nav nav-tabs tab-heading tab-heading-1" role="tablist">
              {% for i in (1..3) %}

                <li class="tab-title nav-item">
                  <a class="nav-link{% if forloop.first %} active{% endif %}{% if _lazyload %} lazyload{% endif %}" href="#hp-tabs-{{ section.id }}-{{ forloop.index }}" aria-controls="hp-tabs-{{ section.id }}-{{ forloop.index }}" role="tab" data-toggle="tab">
                    {{ 'homepage.onboarding.tab_title' | t }}
                  </a>
                </li>

              {% endfor %}
            </ul>
          </div>

          <div class="tab-content">
            {% for i in (1..3) %}

              <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">
                <div class="hp-tabs-content type-product">
                  <div class="hp-tabs-list tabs-list-row">
                    <div class="row">
                      {{ emptyProduct }}
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>

        {% endif %}
      </div>

  {% if settings.left_column_style == 'none' %}</div>{% endif %}
</div>