{% unless _collection == blank or collection.products_count == 0 %}

<div class="hp-tabs-list tabs-list-{{ _type }}">
  {% if _type == 'row' %}<div class="row">{% endif %}
    {% for product in collection.products limit: _limit %}

    <div class="product-grid-item{% if _type == 'row' %} {{ _desktop_class }} {{ _tablet_class }} {{ _mobile_class }}{% endif %}">
      {% include 'product-item' %}
    </div>

    {% endfor %}
  {% if _type == 'row' %}</div>{% endif %}
</div>

{% else %}

<div class="hp-tabs-list tabs-list-row">
  <div class="row">
    {{ emptyProduct }}
  </div>
</div>

{% endunless %}